/*我的收货地址*/
	.address_1{
		width:950px;
		height:65px;
		border-bottom:2px solid #d4d4d4;
		background:#fbfbfb;
	}
	.address_1 span{
		font-size:26px;
		margin-left:40px;
		line-height:65px;
		text-align:center;
	}
	.address_2{
		width:950px;
		height:363px;
		border-bottom:2px solid #d4d4d4;
		background:#fbfbfb;
	}
	.address_2 .addname{
		width:214px;
		height:75px;
		font-size:18px;
		line-height:75px;
		text-align:center;
	}
	.addm{overflow: hidden;}
	.address_2 ul{
		float:left;
		margin-left:80px;
	}
	.address_2 li{
		font-size:18px;
		margin:10px;
	}
	.addx{overflow: hidden;}
	.addx ul{
		float:right;
		margin-right:60px;
		overflow: hidden;
	}
	.addx li{
		float:left;
		color:#5d9df3;
		cursor: pointer;
		margin:30px;
	}
	.address_3{
		width:950px;
		height:133px;
		background:#fbfbfb;
		position: relative;
	}
	.address_3 p{
		font-size:18px;
		line-height:60px;
		text-align:center;
		width:200px;
		height:60px;
		border:2px solid #d4d4d4;
		border-radius:8px 8px 8px 8px;
		margin-left:100px;
		position:absolute;
		top:30px;
	}
		/*我的申诉记录*/
	.complaint{
		// display: none;
	}
	.com_1{
		width:950px;
		height:65px;
		border-bottom:2px solid #d4d4d4;
		background:#fbfbfb;
	}
	.com_1 span{
		font-size:26px;
		margin-left:40px;
		line-height:65px;
		text-align:center;
	}
	.com_2{
		width:950px;
		height:890px;
		background:#fbfbfb;
	}
	.com_2a{
		width:950px;
		height:160px;
		margin:0 auto;
	}
	.com_2a span{
		font-size:18px;
		margin:20px;
		line-height:35px;
		text-align:center;
	}
	.com_2a1{
		width:948px;
		height:111px;
		border:1px solid #e1e1e1;
		background:white;
		overflow: hidden;
	}
	.com_2a11{
		height:111px;
		width:110px;
		border-right:1px solid #e1e1e1;
		float: left;
		font-size: 14px;
		color:#383838;
	}
	.com_2a11 div{
		margin-top:35px;
		margin-left:27px;
	}
	.com_2a11 p{
		margin-top:7px;
		margin-left:15px;
	}
	.com_2a12{
		height:111px;
		width:360px;
		border-right:1px solid #e1e1e1;
		float: left;
		overflow: hidden;
	}
	.com_img{
		width:80px;
		height:80px;
		margin:15px;
		float: left;
	}
	.com_2a12 li{
		font-size: 13px;
		color:#b6b6b6;
		margin-top:10px;
	}
	.com_2a13{
		height:111px;
		width:110px;
		border-right:1px solid #e1e1e1;
		float: left;
		line-height: 111px;
		text-align: center;
		font-size: 14px;
		color:#b6b6b6;
	}
	.com_2a14{
		height:111px;
		width:110px;
		border-right:1px solid #e1e1e1;
		float: left;
	}
	.com_nmb{
		margin:30px;
		margin-top:40px;
		width:50px;
		height:25px;
		border:1px solid #e1e1e1;
		line-height: 25px;
		text-align: center;
	}
	.com_2a15{
		height:111px;
		width:110px;
		float: left;
		border-right:1px solid #e1e1e1;
		font-size: 14px;
		line-height: 111px;
		text-align: center;
		color:#e1e1e1;
	}
	.com_2a16{
		height:111px;
		width:143px;
		font-size: 14px;
		float: left;
		line-height: 111px;
		text-align: center;
		cursor:pointer;
	}
	.com_2a16 a{
		color:#e1e1e1;
		text-decoration: none;
	}
	#com_tab2{
		display: none;
	}
	#com_tab1{
		display: none;
	}
	#com1{
		display: block;
	}
	#com2{
		 display: block;
	}
		/*如何申请退换货*/
	.return{
		width:940px;
		height:630px;
		background:#fcfcfc;
	}
	.return1{
		width:940px;
		height:50px;
		border-bottom:1px solid #e1e1e1;
	}
	.return1 span{
		font-size:20px;
		font-weight:bolder;
		line-height: 50px;
		text-align: center;
	}
	.return21{
		font-size:20px;
		margin-top:20px;
		margin-left:50px;
	}
	.return22{
		font-size:18px;
		margin-top:10px;
		margin-left:70px;
	}
	.return23{
		width:700px;
		line-height:20px;
		font-size:14px;
		margin-top:10px;
		margin-left:90px;
	}