*{margin:0;padding:0;}
header{
	width:100%;
	height:140px;
	background:black;
	background: url(../images/xiangqing3.png) no-repeat center;
	background-size: cover;
	overflow: hidden;
}
.menu_a{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 4%;
	margin-top:20px;
}
.menu_b{
	width:20%;
	height: 71px;
	float: right;
	margin-top: 30px;
	margin-right: 10%;
}
.menu_b img{
	width:30%;
	height: 71px;
}
/*商品购买界面*/
.box{
	width:100%;
	height:650px;
}
.goods{
	width:90%;
	height:650px;
	margin:0 auto;
}
.list{
	width:100%;
	height: 80px;
	line-height: 80px;
}
.list a{
	text-decoration: none;
	font-size: 22px;
	color: #bbb;
}
.list a:hover{
	color: #111;
}
.goodsshow{
	width:100%;
	height: 510px;
	overflow: hidden;
}
#goodsshow_a{
	width:30%;
	height: 508px;
	border:1px solid #bbb;
	float: left;
}
#goodsshow_a img{
	width:100%;
	height: 508px;
}
#goodsshow_b{
	width:10%;
	height:220px;
	float: left;
}
#goodsshow_b ul li{
	width:100%;
	height: 30%;
	border:1px solid #bbb;
	list-style: none;
}
#goodsshow_b ul li img{
	width:100%;
	height: 100%;
}
#goodsshow_c{
	width:50%;
	height:508px;
	border:1px solid #bbb;
	float: right;
	margin-right: 4%;
}
#goodsshow_c ul{
	margin:0;
	padding:0;
	list-style: none;
}
#goodsname{
	width: 100%;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
}
#goodsname span{
	font-size: 18px;
	font-style: oblique;
}
.goodsprice{
	width:100%;
	height: 50px;
	background: #F7F7F7;
	line-height: 50px;
}
.goodsshow_cl{
	color: #aaa;
	margin-left: 5%;
}
.goodsprice_2{
	color: red;
	margin-left: 15%;
}
.goodscolor{
	width:100%;
	height: 75px;
	line-height: 75px;
	overflow: hidden;
}
.goodscolor span{
	float: left;
}
.goodscolor li{
	width:15%;
	height: 35px;
	line-height: 35px;
	border:1px solid #ccc;
	float: left;
	margin-left: 6%;
	margin-top:20px;
	text-align: center;
}
.goodssize{
	width:100%;
	height: 75px;
	line-height: 75px;
	overflow: hidden;
}
.goodssize span{
	float: left;
}
.goodssize li{
	width:15%;
	height: 35px;
	line-height: 35px;
	border:1px solid #ccc;
	float: left;
	margin-left: 6%;
	margin-top:20px;
	text-align: center;
}
.goodsnum{
	width:100%;
	height: 75px;
	line-height: 75px;
	overflow: hidden;
}
.goodsnum span{
	float: left;
}
#goodsnum_1{
	width:15%;
	height: 35px;
	line-height: 35px;
	border:1px solid #ccc;
	float: left;
	margin-left: 6%;
	margin-top:20px;
	text-align: center;
}
#goodsnum_2{
	width:20px;
	float: left;
	text-align: center;
}
#add{
	width:100%;
	height: 17px;
	line-height: 17px;
	text-align: center;
	margin-left: 50%;
	background: #ccc;
	margin-top:20px;
}
#minus{
	width:100%;
	height: 17px;
	line-height: 17px;
	margin:3px 0 0 0;
	background: #ccc;
	text-align: center;
	margin-left: 50%;
}
.goodsnum_3{
	margin-left:7%;
}
#buygoods{
	width:100%;
	height: 80px;
}
#buygoods button{
	width:40%;
	height: 50px;
	background: #ddd;
	color: #aaa;
	margin-top:15px;
	margin-left:6%;
	border:none;
}
#buygoods .buyshow{
	background: red;
	color: white;
}
#goodscolor_1 .buyselect{
	border:2px solid red;
}
#goodssize_1 .buyselects{
	border:2px solid red;
}
.share{
	width:100%;
	height: 30px;
	padding-top:30px;
	margin:0 auto;
}
.share1{
	width:20%;
	height: 30px;
	float: left;
	text-align: center;
}
.jiathis_style_24x24{
	width:80%;
	height: 30px;
	float: left;
}
.aaa{
	width:100%;
	height: 30px;
	text-align: center;
	padding-top: 10px;
}
.aaa a{
	text-decoration: none;
}
/*大图介绍*/
.introduction{
	width:100%;
}
.introduction img{
	width:100%;
	height: 100%;
}
.introduction1{
	width:100%;
	height: 211px;
}
.introduction2{
	width:100%;
	height: 637px;
}
.introduction3{
	width:100%;
	height: 720px;
}
.introduction4{
	width:100%;
	height: 600px;
}
/*评论专区*/
.comment{
	width:100%;
	height:650px;
	border:2px solid #ccc;
}
.comment_a{
	width:100%;
	height:90px;
	margin-top:40px;
	background:#ddd;
}
#comment_a1{
	width:80%;
	height:90px;
	margin:0 auto;
	text-align: center;
	overflow: hidden;
	line-height: 90px;
}
#comment_a1 span{
	float: left;
}
#comment_a1 ul{
	list-style: none;
}
#comment_a1 li{
	width:15%;
	float: left;
	overflow: hidden;
}
#comment_a1 li:first-child{
	width:10%;
	margin-left:5%;
}
#comment_a1 li span{
	margin-left:3%;
}
.com_a{
	width:12px;
	height: 12px;
	margin-top: 40px;
	border-radius: 12px;
	border:1px solid #aaa;
	background: #eee;
}
#comment_b{
	width:80%;
	height:480px;
	margin:0 auto;
	border-bottom:3px solid #ccc;
}
#outer{
	width: 100%;
	margin: 30px auto;
}
#outer .inner{
	width: 100%;
	height: 180px;
	margin: 20px 0;
	list-style: none;
	border: 1px solid #ccc;
	overflow: hidden;
}
#outer .inner li:nth-child(1){
	width: 10%;
	height: 120px;
	padding: 30px;
	float: left;
}
#outer .inner li:nth-child(2){
	width: 60%;
	height:120px;
	float: right;
	padding:30px;
}
#pagination{
	width: 100%;
	height: 30px;
	margin: 10px auto;
	overflow: hidden;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	list-style: none;
	background: skyblue;
}
#pagination .pages{
	width: 70%;
	height: 30px;
	float: left;
	overflow: hidden;
}
#pagination li{
	width: 6%;
	height: 30px;
	float: left;
	margin: 0 5px;
}
#pagination .num{
	width: 10%;
	height: 30px;
	float: left;
}
/*底部*/
footer{
	width:100%;
	margin:0 auto;
}
.footer1{
	background: #181b22;
	width: 100%;
	height: 125px;
}
.footer1 ul{
	width: 80%;
	margin: 0 auto;
	padding-top: 75px;
	margin-bottom: 30px;
}
.footer1 ul li{
	width: 30%;
	text-align: left;
	float: left;
	list-style: none;
	color: #FFFFFF;
	font-size: 20px;
	font-family: "微软雅黑";
}
.footer1 ul li span{
	color: #f41c1f;
}
.footerList{
	height: 400px;
	width:100% ;
	background:#181b22 ;
}
.listBox{
	width:80% ;
	height: 245px;
	border-top: 2px solid #000000;
	margin: 0 auto;
}
.footerList ul{
	width: 16%;
	float: left;
	height: 245px;
	list-style: none;
}
.footerList ul li:first-child{
	color:#d9dade ;
	margin-bottom: 30px;
	margin-top:20px;
	font-size:14px ;
}
.footerList ul li a{
	font-size: 13px;
	line-height: 30px;
	text-decoration: none;
	color: #3c3c3c;
}
.footerList_1{
	width: 62%;
	margin: 0 auto;
	text-align: center;
}
.footerList_2{
	width: 62%;
	margin: 0 auto;
	text-align: center;
}
.footerList_1 p a{
	font-size:14px;
	color: #bdbfbc;
	text-decoration: none;
}
.footerList a:hover{
	color: white;
}
.footerList_2 p{
	font-size:14px;
	margin-top: 20px;
	color: #bdbfbc;
}
